.start-section{
    background-color:rgb(98, 243, 207);
    height: 400px;
    margin-bottom:50px;
}

.img-start-bootstrap{
   background-color:blue;
    height: 100px;
}

.title-start, .text-start{
    height: 50px;
    border:1px solid black;
}

.section-portfolio{
    height:500px;
}

.box-portfolio{
    height: 200px;
    border:1px solid black;
    background-color:rgb(163, 163, 214);
    margin-bottom: 10px;
}

.section-about{
    background-color:rgb(98, 243, 207);
    height: 300px;
    margin-bottom:50px;
}

.about-text{
    border:1px solid black;
    height: 100px;
}

.download{
    height: 50px;
    border:1px solid black;
}

.section-contacts{
    height: 250px;
    margin-bottom: 50px;
}

.info-contact{
    border-bottom:1px solid black;
}

.info-contact-message{
    height: 100px;
}

.footer-container{
    background-color:rgb(2, 24, 122);
    height: 150px; 
}

.footer-content{
    background-color:rgb(2, 24, 122);
    height: 150px;
}

.info-footer{
    border:1px solid black;
    height: 100px;
}

.footer-section{
    height: 100px;
    /* background-color:rgb(1, 12, 59); */
    background-color: grey;
}