.start-section{
    background-color:rgb(47, 189, 153);
    height: 400px;
    margin-bottom:50px;
}

.img-start-bootstrap{
    background-image: url(../img/avatar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.title-start, .text-start{
    height: 50px;
    color:white;
}

.linee-speciali{
    height:2px;
    background-color:white;
    vertical-align: middle;
}
.container-star{
    height: 20px;
    text-align: center;
}

.container-star i{
    color:white;
    font-size: 30px;
}

.text-start{
    font-size: 20px;
}

.box-portfolio{
    height: 200px;
    border:1px solid black;
    margin-bottom: 10px;
}

.bg-img-house{
    background-image: url(../img/safe.png);
    background-size:contain;
    background-repeat: no-repeat;
}


.section-about{
    background-color:rgb(47, 189, 153);
    margin-bottom:50px;
}

.about-text{
    border:1px solid black;
    height: 100px;
}

.download{
    height: 50px;
    border:1px solid black;
}

/* .section-contacts{
    margin-bottom: 50px;
} */

.info-contact{
    border-bottom:1px solid black;
}

.info-contact-message{
    height: 100px;
}

.footer-container{
    background-color:rgb(2, 24, 122);
    height: 150px; 
}

.footer-content{
    background-color:rgb(2, 24, 122);
    height: 150px;
}

.info-footer{
    border:1px solid black;
    height: 100px;
}

.footer-section{
    height: 100px;
    /* background-color:rgb(1, 12, 59); */
    background-color: rgb(0, 18, 53);
}